<section id="faq">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">FAQ</h2>
        <h3 class="section-subheading text-muted">Please email us for answers to further questions.</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <!--Accordion wrapper-->
        <div class="accordion md-accordion accordion-1" id="accordionEx24" role="tablist">
          <div class="card">
            <div class="card-header blue lighten-3 z-depth-1" role="tab" id="heading96">
              <h5 class="text-uppercase mb-0 py-1">
                <a class="white-text font-weight-bold" data-toggle="collapse" href="#collapse96" aria-expanded="true"
                  aria-controls="collapse96">
                  When should I contact you to book an ensemble for my event?
                </a>
              </h5>
            </div>
            <div id="collapse96" class="collapse" role="tabpanel" aria-labelledby="heading96" data-parent="#accordionEx24">
              <div class="card-body">
                <div class="row my-4">
                  <div class="col-md-8">
                    <p class="">Although we can occasionally accommodate last-minute bookings, we recommend that you contact us 6 months in advance.</p>
                  </div>
                  <div class="col-md-4 mt-3 pt-2">
                    <div class="view z-depth-1">
                      <img src="assets/img/header-bg.jpg" alt="" class="img-fluid">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header blue lighten-3 z-depth-1" role="tab" id="heading97">
              <h5 class="text-uppercase mb-0 py-1">
                <a class="collapsed font-weight-bold white-text" data-toggle="collapse" href="#collapse97"
                  aria-expanded="false" aria-controls="collapse97">
                  What do I need to provide at the event venue?
                </a>
              </h5>
            </div>
            <div id="collapse97" class="collapse" role="tabpanel" aria-labelledby="heading97" data-parent="#accordionEx24">
              <div class="card-body">
                <div class="row my-4">
                  <div class="col-md-8">
                    <p class="">Depending on the ensemble, we will need armless chairs for the musicians and a space to play. Ideally for a string quartet, the performance space should be at least 10’x10’ with nice lighting. The musicians will bring their own instruments, music stands, and music.</p>
                  </div>
                  <div class="col-md-4 mt-3 pt-2">
                    <div class="view z-depth-1">
                      <img src="assets/img/header-bg.jpg" alt="" class="img-fluid">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header blue lighten-3 z-depth-1" role="tab" id="heading98">
              <h5 class="text-uppercase mb-0 py-1">
                <a class="collapsed font-weight-bold white-text" data-toggle="collapse" href="#collapse98"
                  aria-expanded="false" aria-controls="collapse98">
                  Can you play outside?
                </a>
              </h5>
            </div>
            <div id="collapse98" class="collapse" role="tabpanel" aria-labelledby="heading98" data-parent="#accordionEx24">
              <div class="card-body">
                <div class="row my-4">
                  <div class="col-md-8">
                    <p class="">Yes, but with restrictions. In general, we cannot perform in any sort of rain and the temperature must be between 70 and 90 degrees. During the summer, the musicians must have covering from the sun. The reasoning for these policies is to protect the instruments and musicians. If your event is outside, please arrange an indoor contingency plan.</p>

                  </div>
                  <div class="col-md-4 mt-3 pt-2">
                    <div class="view z-depth-1">
                      <img src="assets/img/header-bg.jpg" alt="" class="img-fluid">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header blue lighten-3 z-depth-1" role="tab" id="heading99">
              <h5 class="text-uppercase mb-0 py-1">
                <a class="collapsed font-weight-bold white-text" data-toggle="collapse" href="#collapse99"
                  aria-expanded="false" aria-controls="collapse99">
                  What will the musicians wear?
                </a>
              </h5>
            </div>
            <div id="collapse99" class="collapse" role="tabpanel" aria-labelledby="heading99" data-parent="#accordionEx24">
              <div class="card-body">
                <div class="row my-4">
                  <div class="col-md-8">
                    <p class="">We can dress to fit the occasion. Usually we wear all black, but we can dress in formal tuxedoes for men and dresses for women, or less formal.</p>

                  </div>
                  <div class="col-md-4 mt-3 pt-2">
                    <div class="view z-depth-1">
                      <img src="assets/img/header-bg.jpg" alt="" class="img-fluid">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--Accordion wrapper-->
      </div>
    </div>
  </div>
</section>
