<header class="masthead">
  <div class="container">
    <div class="intro-text">
      <div class="intro-lead-in">Strings Attached</div>
      <div class="intro-heading text-uppercase">Best in class service.</div>
      <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="#about">Learn More</a>
    </div>
  </div>
</header>

<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">About</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <p class="text-muted text-justify text-indent">Strings Attached, Texas is a music entertainment company comprised of the most talented classical musicians. With an average performance schedule of 200+ engagements per year, Strings Attached has serenaded guests for concerts, corporate events, galas, holiday parties, proposals and weddings throughout Texas and Louisiana. And we would love to help you create a customized music program that will perfectly fit your style, taste, and budget!</p>
      </div>
    </div>
    <div class="row top-buffer">
      <div class="col-lg-12">
        <p class="text-muted text-justify text-indent">As a music agency, we offer live performances in a wide variety of ensembles types and range of styles. Solo, duet, trio, and quartet ensembles of traditional strings, harp, and/or piano that can play classical, cinema, jazz, pop and rock - our goal is to create a memorable musical experience for your event.</p>
      </div>
    </div>
  </div>
</section>
<script src="assets/js/agency.min.js" charset="utf-8"></script>
