<section id="repertoire">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">Repertoire</h2>
        <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet.</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="accordion md-accordion accordion-1" id="accordionEx23" role="tablist">
          <div class="card">
            <div class="card-header blue lighten-3 z-depth-1" role="tab" id="heading94">
              <h5 class="text-uppercase mb-0 py-1">
                <a class="white-text font-weight-bold" data-toggle="collapse" href="#collapse94" aria-expanded="true"
                  aria-controls="collapse94">
                  Classic
                </a>
              </h5>
            </div>
            <div id="collapse94" class="collapse" role="tabpanel" aria-labelledby="heading94" data-parent="#accordionEx23">
              <div class="card-body">
                <div class="row my-4">
                  <div class="col-md-8">
                    <h4>Bach – Air</h4>
                    <h4>Bach – Brandenburg Concertos</h4>
                    <h4>Bach – Jesu, Joy of Man’s Desiring</h4>
                    <h4>Bach – Sheep May Safely Graze</h4>
                    <h4>Clarke – Trumpet Voluntary</h4>
                    <h4>Handel – Hornpipe</h4>
                    <h4>Handel – La Réjouissance</h4>
                    <h4>Handel – The Arrival of the Queen of Sheba</h4>
                    <h4>Massenet – Méditation from opera Thais</h4>
                    <h4>Mendelssohn – Wedding March</h4>
                    <h4>Mozart - Eine Kleine Nacht Musik</h4>
                    <h4>Mozart - Divertimento in D Major</h4>
                    <h4>Mozart - Divertimento in F Major</h4>
                    <h4>Pachelbel - Canon in D</h4>
                    <h4>Purcell – Trumpet Tune</h4>
                    <h4>Schubert – Ave Maria</h4>
                    <h4>Vivaldi – Four Seasons</h4>
                    <h4>Wagner - Wedding March</h4>
                  </div>
                  <div class="col-md-4 mt-3 pt-2">
                    <div class="view z-depth-1">
                      <img src="assets/img/header-bg.jpg" alt="" class="img-fluid">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header blue lighten-3 z-depth-1" role="tab" id="heading95">
              <h5 class="text-uppercase mb-0 py-1">
                <a class="white-text font-weight-bold" data-toggle="collapse" href="#collapse95" aria-expanded="true"
                  aria-controls="collapse95">
                  Cover Tunes
                </a>
              </h5>
            </div>
            <div id="collapse95" class="collapse" role="tabpanel" aria-labelledby="heading95" data-parent="#accordionEx23">
              <div class="card-body">
                <div class="row my-4">
                  <div class="col-md-8">
                    <h4>Adele</h4>
                    <h4>Beatles</h4>
                    <h4>Beyonce</h4>
                    <h4>Black Eye Peas</h4>
                    <h4>Coldplay</h4>
                    <h4>Michael Jackson</h4>
                    <h4>Etta James</h4>
                    <h4>Elton John</h4>
                    <h4>John Legend</h4>
                    <h4>Christina Perry</h4>
                    <h4>Elvis Presley</h4>
                    <h4>Queen</h4>
                    <h4>Guns N’ Roses</h4>
                    <h4>Pharrell Williams</h4>
                    <h4>Led Zeppelin</h4>
                  </div>
                  <div class="col-md-4 mt-3 pt-2">
                    <div class="view z-depth-1">
                      <img src="assets/img/header-bg.jpg" alt="" class="img-fluid">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
